# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# idx
.idx

# logs
dataconnect-debug.log
firebase-debug.log

# firebase
.firebase

# Functions specific ignores
functions/node_modules/
functions/lib/
functions/package-lock.json

# VSCode settings that might be local
.vscode/extensions.json

# Other common files to ignore
*.log
tmp/
dist/
.DS_Store
Thumbs.db
