name: Trigger Netlify Build

on:
  push:
    branches: [ "main" ]

jobs:
  trigger-netlify-build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Netlify build hook
        env:
          BUILD_HOOK: ${{ secrets.NETLIFY_BUILD_HOOK_URL }}
        run: |
          if [ -z "$BUILD_HOOK" ]; then
            echo "NETLIFY_BUILD_HOOK_URL secret is not set. Aborting.";
            exit 1;
          fi
          curl -X POST "$BUILD_HOOK"
